#contmenu{
	width:100%;	
	color: #007DC3;
	background-color: #004173;	
}
#menu{
	height:39px;	
}

#menu ul,#menu ol{
	list-style: none;
	z-index:100;
}

.nav li a{
	background-color:#001638;
	color: #007DC3;
	text-decoration:none;
	padding: 10 15;
	display: block;
}

.nav li a:hover{
	background-color:#004173;
	color: white;
}

.nav li ul{
	display:none;
	position: absolute;
	min-width:140px;
}

.nav li:hover > ul {
	display:block;
}

.nav > li{
	float:left;
}

.nav li ul li{
	position: relative;
}

.nav li ul li ul{
	right:-140px;
	top:0px;
}
